.container {
  display: flex;
  width: 100vw;
}

.box {
  min-width: 100px;
  min-height: 150px;
  background-color: rgb(192, 192, 192);
  justify-content: center;
  align-items: center;
  display: flex;
  color: rgb(0, 0, 0);
  border-left: dotted;
  box-sizing: border-box;
  margin: 10px;
  font-size: xx-large;
  font-family: sans-serif;
}

.box:last-child {
  background: linear-gradient(to right, yellow, rgb(124, 0, 0));
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.box:hover {
  background-color: rgb(139, 139, 139);
}

.box:last-child:hover {
  color: aqua;
}
